= form_for @<%= singular_table_name %>, :html => { :class => "form-horizontal" } do |f|
  -if @<%= singular_table_name %>.errors.any?
    .alert.alert-error
      %a.close{:href => "#", :"data-dismiss" => "alert"} ×
      %h4= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"

      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  .control-group
    = f.label :<%= attribute.name %>, :class => 'control-label'
    .controls
      = f.<%= attribute.field_type %> :<%= attribute.name %>, :class => 'input-xxlarge'
<% end -%>
  .actions
    = f.submit :class => 'btn btn-primary'
