.page-header
  = link_to new_<%= singular_table_name %>_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New <%= human_name %>
  %h1 Listing <%= plural_table_name %>

%table.table.table-bordered.table-striped
  %thead
    %tr
<% for attribute in attributes -%>
      %th <%= attribute.human_name %>
<% end -%>
      %th
      %th
      %th

  %tbody
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
<% for attribute in attributes -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
        %td= link_to 'Show', <%= singular_table_name %>
        %td= link_to 'Edit', edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
        %td= link_to 'Destroy', <%= singular_table_name %>, :confirm => 'Are you sure?', :method => :delete
