!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Bootstrap, from Twitter
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand{:href => "#"} Project name
          %ul.nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
          %p.pull-right
            Logged in as
            %a{:href => "#"} username
    .container-fluid
      .sidebar
        .well
          %h5 Sidebar
          %ul
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
          %h5 Sidebar
          %ul
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
          %h5 Sidebar
          %ul
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
      - flash.each do |name, msg|
        = content_tag :div, :class => "container alert-message #{name == :error ? "error" : "success" }", :"data-alert" => "alert" do
          %a.close{:href => "#"} ×
          %p= msg
      .content
        .row
          .span16
            = yield
        %footer
          %p © Company 2011 (haml)
